
/*framework - all content*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/*framework - container for all rows and columns*/
.container {
  margin: auto;
  margin-top: 10px;
  width: 100%;
  justify-content: center
}

/*framework - all rows*/
.row {
  margin: auto;
  display: flex;
  flex-wrap:  wrap;
  width: 80%;
  justify-content: center;
  /*border: red solid;*/
}

/*framework - columns*/
.col-1 {
  width: calc(100%);
}
.col-2 {
  width: calc(100%/2);
}
.col-3 {
  width: calc(100%/3);
}
.col-4 {
  width: calc(100%/4);
}
.col-5 {
  width: calc(100%/5);
}
.col-6 {
  width: calc(100%/6);
}
.col-7 {
  width: calc(100%/7);
}
.col-8 {
  width: calc(100%/8);
}
.col-9 {
  width: calc(100%/9);
}
.col-10 {
  width: calc(100%/10);
}
.col-11 {
  width: calc(100%/11);
}
.col-12 {
  width: calc(100%/12);
}
.col-75 {
  width: calc((3/4)*100%);
}

/*framework - headings and paragraph tags*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px;
  text-align: justify;
  word-wrap: break-word;
  padding: 10px 10px;
}

p {
  margin: 10px;
  text-align: center;
  word-wrap: break-word;
}
